h1 {
    font-family: monospace; 
    font-style: normal; 
    font-variant: normal; 
    color: whitesmoke;
} 
h2 {
    font-family: monospace; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 200;
    color: whitesmoke;
} 