aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.11.1
blis==0.7.7
braceexpand==0.1.7
bs4==0.0.1
catalogue==2.0.7
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
cycler==0.11.0
cymem==2.0.6
decorator==4.4.2
discord.py @ git+https://github.com/Rapptz/discord.py@e198a0e7e6df58bdfcba1cdbf31345ed67c5f10e
distlib==0.3.4
dnspython==2.2.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
filelock==3.6.0
Flask==2.1.1
Flask-SQLAlchemy==2.5.1
fonttools==4.33.3
frozenlist==1.3.0
googletrans==4.0.0rc1
greenlet==1.1.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
imageio==2.18.0
imageio-ffmpeg==0.4.7
import-expression==1.1.4
iso-639==0.4.5
itsdangerous==2.1.2
Jinja2==3.1.1
jishaku==2.4.0
kiwisolver==1.4.2
langcodes==3.3.0
langdetect==1.0.9
language-data==1.1
libretranslatepy==2.1.1
lxml==4.8.0
marisa-trie==0.7.7
MarkupSafe==2.1.1
matplotlib==3.5.1
motor==3.0.0
MouseInfo==0.1.3
moviepy==1.0.3
mss==6.1.0
multidict==6.0.2
murmurhash==1.0.7
numpy==1.22.3
opencv-python==4.5.5.64
packaging==21.3
pathy==0.6.1
Pillow==9.1.0
platformdirs==2.5.2
plotly==5.7.0
preshed==3.0.6
proglog==0.1.9
PyAutoGUI==0.9.53
pycodestyle==2.8.0
pycountry==22.3.5
pydantic==1.8.2
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pymongo==4.1.1
PyMsgBox==1.0.9
pyparsing==3.0.8
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
python-dotenv==0.20.0
python-imagesearch==1.2.2
python3-xlib==0.15
PythonSafeEval==0.0.1
pytweening==1.0.4
pytz==2022.1
requests==2.27.1
rfc3986==1.5.0
simpleeval==0.9.12
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.3.2.post1
spacy==3.3.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SQLAlchemy==1.4.36
srsly==2.4.3
tenacity==8.0.1
thinc==8.0.15
toml==0.10.2
tqdm==4.64.0
translate==3.6.1
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
wasabi==0.9.1
Werkzeug==2.1.1
wget==3.2
yarl==1.7.2
